.ContactPage > h1 {
  text-align: center;
  color: #222222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}
.socialIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.socialIcons > a {
  transition: 0.2s;
  cursor: pointer;
}
.socialIcons > a:hover {
  transform: translateY(-15px);
}
.socialIcons > a > img {
  margin: 10px;
}

@media (min-width: 100px) and (max-width: 730px) {
  .socialIcons > a {
    margin-right: 0;
  }
  .socialIcons {
    justify-content: center;
  }
  .socialIcons > a > img {
    width: 100px;
    margin: 10px;
  }
}
