.ProjectsPage > h1 {
  text-align: center;
  color: #222222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}
.Box {
  width: 210px;
  height: 140px;
  margin: 15px;
  border-radius: 16px;
  transition: 0.5s;
}
.Box:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  font-size: 26px;
  color: #f2f2f2;
  text-align: center;
}
.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 280px) and (max-width: 699px) {
  .Projects {
    height: 600px;
    overflow-y: scroll;
  }
}
